/* Шрифты 
Roboto 500, 900, 700, 400, Raleway 700*/

.page {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

/* Шапка */

.logo-header {
  color: #000000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.site-nav .link {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .links {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-contact .link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.site-contact .link:hover,
.site-contact .link:focus {
  color: #2196f3;
}

/* Герой */

.hero {
  background-color: #2f303a;
}

.hero .title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

button {
  font-family: inherit;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px 10px 32px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}

/* Особенности */

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features .text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.work .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.comanda-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.comanda .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.comanda .text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.35;
  letter-spacing: 0.03em;
}

/* Подвал */

.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* Портфолио */

.project .text {
  color: #757575;
}

.button-filtr {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px 6px 22px;
  color: #212121;
}

.button-filtr:hover,
.button-filtr:focus {
  color: #ffffff;
  background-color: #2196f3;
}
